//background colors
$white-bg: #ffffff;
$dark-bg: #333543;

//shades of gray
$super-light-gray: #EBEDF2;
$light-gray: #CACBD3;

//accent colors

$red: #E5E5E5;
$green: #00B707;
$blue: #1C32FF;
$yellow: #FFC207;


